<a href="https://colab.research.google.com/github/Ashujeet-hembrom/Python-Basic/blob/main/Function%20and%20loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Declare a function named print_list. It takes a list as a parameter and it prints out each element of the list.

In [ ]:
def print_list(lst):
  for i in lst:
    print(i)

print_list([1,2,3.4,True,"aa"])

1
2
3.4
True
aa

##2. Declare a function named reverse_list. It takes an array as a parameter and it returns the reverse of the array (use loops).

In [ ]:
def reverse_list(arr):
  reverse=[]
  for i in range(len(arr)-1,-1,-1):
    reverse.append(arr[i])

  return reverse

reverse_list((1,2,3,4))

[4, 3, 2, 1]

##3. Write a function called add_all_nums which takes arbitrary number of arguments and sums all the arguments. Check if all the list items are number types. If not do give a reasonable feedback.

In [ ]:
def add_all_nums(n):
  total=0

  for i in n:
    if type(i) != int:
      print("List may contain non integers value ")
      return None

    total+=i
  return total

print(add_all_nums([1,2,3]))

print(add_all_nums([1,True,-1,0.5]))

6
List may contain non integers value
None

##4. Temperature in °C can be converted to °F using this formula:
##°F = (°C x 9/5) + 32
##Write a function which converts °C to °F, convert_celsius_to-fahrenheit.

In [ ]:
def temperature():

  x=float(input("Enter tempreture:"))
  f=(x*9/5)+32

  print("Temperature = ",x,"C")
  print("Temperature in Fahrenheit = ",f,"F")

temperature()

Enter tempreture:8
Temperature =  8.0 C
Temperature in Fahrenheit =  46.4 F

###5. Find the length of the text python and convert the value to float and convert it to string.

In [ ]:
text="python"
print("Length of text is",len(text))

print("Float:",float(len(text)))
print("String:",str(float((len(text)))))

Length of text is 6
Float: 6.0
String: 6.0

##6. Create an acronym or an abbreviation for the name

a. Use index to determine the position of the first occurrence of C in
Coding For All.

b. Use index to determine the position of the first occurrence of F in Coding For All.

c. Use rfind to determine the position of the last occurrence of l in Coding For
All People.

In [ ]:
cfa="Coding For All"

#a)
print(cfa.index("C"))

#b)
print(cfa.index("F"))

#c)
text="Coding For All People"
print(text.rfind("l"))

0
7
19

##7. Declare a variable named company and assign it to an initial value "Coding For All"

a. Print the variable company using print().

b. Print the length of the company string using len() method and print().

c. Change all the characters to uppercase letters using upper() method.

d. Change all the characters to lowercase letters using lower() method.

e. Use capitalize(), title(), swapcase() methods to format the value of the string

Coding For All.

In [ ]:
company = "Coding For All"

#a)
print(company)

#b)
print(len(company))

#c
print(company.upper())

#d)
print(company.lower())

#e)
print(company.capitalize())
print(company.title())
print(company.swapcase())

Coding For All
14
CODING FOR ALL
coding for all
Coding for all
Coding For All
cODING fOR aLL

##8. Get user input using input(“Enter your age: ”).

If user is 18 or older, give feedback:

*   You are old enough to drive

If below 18 give feedback:


*   to wait for the missing amount of years.

Output:

Enter your age: 30

You are old enough to learn to drive.

Output:

Enter your age: 15

You need 3 more years to learn to drive.

In [ ]:
def age():
  x=int(input("Enter your age:"))

  if x>=18:
    return "You are old enough to learn to drive"
  else:
    return "You need",18-x,"more years to learn to drive"

age()

Enter your age:5

('You need', 13, 'more years to learn to drive')

##9. Iterate 0 to 10 using for loop, do the same using while loop.

In [ ]:
for i in range(0,10):
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
n=0
while n<=9:
  n+=1
  print(n)

1
2
3
4
5
6
7
8
9
10

##10. Iterate 10 to 0 using for loop, do the same using while loop.

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
n=11
while n>0:
  n-=1
  print(n)

10
9
8
7
6
5
4
3
2
1
0

11. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

"#

"##

"###

"####

"#####

"######

"#######

In [ ]:
def loop():

  x=int(input("Number of line you want pattern of # : "))

  for i in range(1,x+1):
    print("#"*i)

loop()

Number of line you want pattern of # : 7
#
##
###
####
#####
######
#######

##12. Iterate through the list, [Python, Numpy,Pandas,Django,Flask] using a for loopand print out the items.

In [ ]:
lst=["Python","Numpy","Django","Flask"]

for i in lst:
  print(i)

Python
Numpy
Django
Flask

##13. Use for loop to iterate from 0 to 100 and print only even numbers.

In [ ]:
for i in range(0,101):
  if i%2==0:
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

##14. Use for loop to iterate from 0 to 100 and print only odd numbers.

In [ ]:
for i in range(0,101):
  if i%2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

##15. Use nested loops to create the following:
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
## # # # # # # # # #

In [ ]:
def loop1():
  x =int(input(" How many line of # you want: "))

  for i in range(x):
    for j in range(x):
      print("#",end=" ")

    print()

loop1()

 How many line of # you want: 8
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #